*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/*nav styling*/
nav{
    justify-content: space-between;
    display: flex;
    position: fixed;
    padding: 10px;
    align-items: center;
    width: 100%;
    background: lightgreen;

}
.logo{
    color:  black;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
}
.logo:hover{
    color: green;
}
nav button{
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    background-color:rgb(8, 247, 8);
    font-size: larger;
    font-weight: 500;

}
nav button:hover{
    background: black;
    color: rgb(8, 247, 8);

}
/*home styling*/
.home{
    background:linear-gradient(to right,white,lightgreen);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding: 40px 10%;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;


    
}
.home p{
    margin-top: 5px;
    width: 60%;
    height: auto;
}
.home button{
    color: black;
    background: rgb(1, 252, 43);
    border-style: none;
    padding: 12px;
    border-radius: 15px;
    font-weight: 200;
    margin-top: 10px;
    font-size: large;
}
.home button:hover{
    color: rgb(1, 252, 43);
    background: black;
    cursor: pointer;
}
.home h1, p, button{ 
    margin-left: 10%;
}
.home .content{
    margin-top: 20%;
    padding-left: 6%;
}
.home .content, h1{
    font-weight: 300;
}
/*what styling*/
.title h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 550;
}
.what p{
    height: auto;
    width: fit-content;
}
.what{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to left,white,lightgreen);
}
/*why styling*/
.why h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 550;
}

.why .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(to left,white,rgb(225, 235, 236));
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
  }
  .why .boxes .box{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 15px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(6, 235, 185, 0.12);
    cursor: default;
    transition: all 0.4s ease;
  }
  .why .boxes .box:hover{
    background: linear-gradient(to left, lightgreen, white);
    color: black;
  }
  .why .boxes .box:hover .topic,
  .why .boxes .box:hover p{
    color: black;
    transition: all 0.3s ease;
  }
  .why .boxes .box:hover .topic,
  .why .boxes .box:hover p{
    color: black;
  }
  .topic{
    text-align: center;
  }
  img{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}


  /*responsive design*/
  @media (max-width: 750px) {
    .why .why-details{
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .why-details .text{
      width: 100%;
      margin-bottom: 50px;
    }
    .why-details .boxes{
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .why .boxes .box{
      margin: 21px 0;
      width: 100%;
    }
   
  }
  
  @media (max-width: 500px){
    
    .why-details .boxes .per{
      font-size: 50px;
      color: #0E2431;
    }
    .home .content{
        margin-top: 100%;
        padding-left: 3%;

    }
    .home .content, h1{
        font-size: 16px;
    }
    .home .button{
        font-size: 14px;
    }

  }

